.logo {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.container {
  text-align: center;
  padding-top: 10px;
}

.container a {
  color: #656e73;
  text-transform: uppercase;
  font-weight: bold;
}
