#lander {

  background:url(image-url('canvas_bg_tile.jpg'));
  -webkit-box-shadow: inset 0 8px 6px -6px black;
     -moz-box-shadow: inset 0 8px 6px -6px black;
          box-shadow: inset 0 8px 6px -6px black;

  .logo {
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }

}
